# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, '5.0' ]
  pull_request:
    branches: [ master, '5.0' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: [ '8.4', '8.5' ]
        symfony: [ '7.4.*', '8.0.*' ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Symfony ${{ matrix.symfony }}
        run: |
          composer require symfony/http-foundation:${{ matrix.symfony }} symfony/http-kernel:${{ matrix.symfony }} symfony/serializer:${{ matrix.symfony }} symfony/property-info:${{ matrix.symfony }} symfony/stopwatch:${{ matrix.symfony }} --no-update

      # Runs a single command using the runners shell
      - name: Build
        run: |
          composer install --dev

      - name: PHPStan Static Analysis
        uses: php-actions/phpstan@v2
        with:
          configuration: phpstan.neon
          memory_limit: 256M
          path: ''
          php_version: ${{ matrix.php }}

      # Runs a set of commands using the runners shell
      - name: PHPCS
        run: |
          ./vendor/bin/phpcs --standard=psr12 --runtime-set ignore_warnings_on_exit true --report=summary sources
